@import "tailwindcss";
@theme {
      --bg-gray-50: rgba(255, 255, 255, 0.5);
      --bg-gray-100: "#eeeeef";
      --bg-gray-200: "#e6e9ed";
      --bg-gray-600: "#95989c";
      
      --bg-purple-200: "#d9ddee";
      --bg-purple-500: "#9492db";
      --bg-purple-600: "#7164c0";    
  }