@import "tailwindcss";
@theme {
      --bg-slate-100: "#eeeeef";
      --bg-slate-200: "#e6e9ed";
      --bg-slate-600: "#95989c";
      
      --bg-purple-200: "#d9ddee";
      --bg-purple-500: "#9492db";
      --bg-purple-600: "#7164c0";    
  }